<ActionBar title="Items" class="action-bar">
</ActionBar>
<StackLayout>
    <StackLayout orientation="horizontal" class="page m-l-5">
        <TextField hint="new item name..." [(ngModel)]="newItemName"></TextField>
        <Button text="Add" (tap)="add()" class="btn btn-primary"></Button>
    </StackLayout>
    
    <ListView [items]="items" class="list-group" height="100%">
        <ng-template let-item="item">
            <DockLayout>
                <Button dock="right" text="-" (tap)="delete(item.id)"class="btn btn-primary btn-ruby"></Button>
                <Label [text]="item.name" class="list-group-item"></Label>
            </DockLayout>
        </ng-template>
    </ListView>
</StackLayout>
